<!DOCTYPE html>
<html>
    <head>
        <title>GDApp</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Rakesh">
        <link rel="stylesheet" href="../static/css/styles.css" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    
    <header>
        <div class='head-bg'>
            <h1>DIP Project(2021)</h1>
            <h2 class='h2-color'>Gender Detection using Face Detection</h2>
        </div>
    </header>

    <body class = 'body'>
        <div>
            <div class='divi1 col-md-6'>
                <p class='txt'><br>In this Project gender of person is detected using face detection.
                    To achieve this python libraries like Tensorflow,CV2,Keras,Numpy,Cvlib, etc are used.
                    And the Web App is built using HTML, CSS, Bootstrap and the backend is developed using Flask.
                </p>
                <br>
                <div>
                <p class="txt">Click on the Start button to open Camera</p>
                <a class='but' href="/video_viewer" target='gd' >Start</a>
                <p class="txt">The gender of a person will be shown around the Face
                    with some Accurarcy, in the Camera Display.</p>
                </div>
            </div>

            <div class='divi2 col-md-6'>
                <iframe class='frame' src="" name='gd'></iframe>
            </div>
        </div>        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </body>
    <footer class='foot'>
        <p>Worked and Developed by COE18B052, COE18B053, COE18B059</p>
    </footer>
</html>